.container{
  font-weight: 700;
  font-size: 24px;
  margin: 5px;
  text-align: left;
  font-family: 'Exo 2', sans-serif;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.grid{
  display: flex;
  flex-direction: row;
}

.card{
  width:40%;
  border: 1px solid #ccc;
  background: #FFFFFF;
  padding: 15px;
  margin: 1%;
  border-radius: 9px;
  color: #585A5C;
  font-size: 13px;
  line-height: 150%;
    
}

.card:hover{
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

.card img{
  width: 150px;
}